h1{
    color: green;
}

.foto{
    background-image:url(../images/instituto.jpg);
    margin: 20px;
    height: 20vh;
    width: 15vw;
}
.contenido{
    background-color: white;
    height: 60vh;
}
div{
    background-color: green;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.SobreMi{
    color:white;
    background-color: green;
    padding: 20px;
}

h2{
    color: white;
    margin: 10px;
}

footer{
    color: white;
    height: 10vh;
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
}